<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.health">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_healthcheck"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_healthcheck"
        android:supportsRtl="true"
        android:theme="@style/Theme.Health">
        <activity
            android:name=".PersonalizarActivity"
            android:exported="false" />
        <activity
            android:name=".BuscandoActivity"
            android:exported="false" />
        <activity
            android:name=".DispositivosActivity"
            android:exported="false" />
        <activity
            android:name=".MisContactosActivity"
            android:exported="false" />
        <activity
            android:name=".EmergenciaActivity"
            android:exported="false" />
        <activity
            android:name=".SaludActivity"
            android:exported="false" />
        <activity
            android:name=".FelicitacionesActivity"
            android:exported="false" />
        <activity
            android:name=".ValidarActivity"
            android:exported="false" />
        <activity
            android:name=".SmsActivity"
            android:exported="false" />
        <activity
            android:name=".ContactoActivity"
            android:exported="false" />
        <activity
            android:name=".ProofActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".SmartwatchService" />

    </application>

</manifest>